<%= form_for([:admin, @admin_room], :html_options => { :class => 'form', :type => 'file' }) do |f| %>
  <% if @admin_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_room.errors.count, "error") %> prohibited this admin_room from being saved:</h2>

      <ul>
      <% @admin_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :name_for_select, { include_blank: "Selecione" }, { :class => 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, :class => 'form-control' %>
  </div>
  <div class="form-group actions">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>