<div class="page-header">
	<h1><%= t('site.editing_room') %></h1>
</div>
<%= breadcrumb %>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @admin_room, { :class => 'btn btn-primary' } %> 
<%= back_link admin_rooms_path %>
