<div class="page-header">
  <h1><%= t('admin.rooms') %></h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_admin_room_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('admin.user') %></th>
      <th><%= t('admin.title') %></th>
      <th><%= t('admin.location') %></th>
      <th><%= t('admin.description') %></th>
      <th><%= t('admin.picture') %></th>
      <th><%= t('admin.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_rooms.each do |admin_room| %>
      <tr>
        <td><%= admin_room.user.full_name unless admin_room.user.nil? %></td>
        <td><%= admin_room.title %></td>
        <td><%= admin_room.location %></td>
        <td><%= admin_room.description %></td>
        <td><%= image_tag admin_room.picture.thumb %></td>
        <td>
          <%= show_link [:admin, admin_room] %>
          <%= edit_link edit_admin_room_path(admin_room) %>
          <%= destroy_link [:admin, admin_room] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_rooms %>
