<div class="page-header">
  <h1><%= t('admin.show_room') %></h1>
</div>
<%= breadcrumb %>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @admin_room.user.full_name unless @admin_room.user.nil? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin_room.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @admin_room.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_room.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @admin_room.picture.thumb %>
</p>

<%= link_to t('admin.edit'), edit_admin_room_path(@admin_room), { :class => 'btn btn-success' } %> 
<%= back_link admin_rooms_path %>
