<div class="page-header">
  <h1><%%= t('site.<%= singular_table_name %>') %></h1>
</div>
<%%= breadcrumb %>
<p><%%= add_link(new_<%= singular_table_name %>_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%%= t('site.<%= attribute.name %>') %></th>
<% end -%>
      <th><%%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td>
          <%%= show_link <%= singular_table_name %> %>
          <%%= edit_link edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
          <%%= destroy_link <%= singular_table_name %> %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>
