<% if room.can_review? %>
  <%= form_for room.review_route, remote: true do |f| %>
    <% room.review_points.each do |point| %>
      <%= f.radio_button :points, point %>
      <%= f.label :points, point, value: point do %>
        <i class="icon-star"></i>
      <% end %>
    <% end %>
    <%= f.submit %>
  <% end %>
<% else %>
  <span class="login-required">
    <%= t 'rooms.review.stats', count: room.total_reviews %>
  </span>
<% end %>