<div class="page-header">
	<h1><%= t('admin.editing_user') %></h1>
</div>
<%= breadcrumb %>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("admin.show"), @admin_user, { :class => 'btn btn-primary' } %> 
<%= back_link admin_users_path %>
